/* Your Styling */

h1 {
	background-color: blue;
	color: white;
	margin: 2em auto 0 auto;
	height: 100px;
	width:100px;
	border-radius: 100px;

/* Horizontal Centering */
	text-align: center;
	line-height: 100px;
	
}
h1:hover {
	background: black;
	transition: background .5s;
}